<div class="avgWords-container">
	<div class="visWords-container" v-bind:class="item.class "v-for="item in items">
		<h3>${item.name}</h3>
		<span>${item.avgWords}</span>
		<span class="avgWords-scale">字</span>
		<span v-html="item.vis" style=" left: initial;"></span>
	</div>
</div>