<div class="avgWords-container">
	<div class="visWords-container apple">
		<h3>蘋果日報</h3>
	</div>
	<div class="visWords-container udn">
		<h3>聯合報</h3>
	</div>
	<div class="visWords-container liberty">
		<h3>自由時報</h3>
	</div>
	<div class="visWords-container china">
		<h3>中國時報</h3>
	</div>
	<div class="visWords-container ettoday">
		<h3>東森新聞雲</h3>
	</div>
</div>