<div id="title-analysis">
  <div id="ptt-idiom">
    <h3>鄉民用語</h3>
    <div class="chart"></div>
    <div class="card-container show">
      <div class="list apple-container">
        <h3>蘋果日報</h3>
        <div class="cards">
        </div>
      </div>
      <div class="list udn-container">
        <h3>聯合報</h3>
        <div class="cards">
        </div>
      </div>
      <div class="list liberty-container">
        <h3>自由時報</h3>
        <div class="cards">
        </div>
      </div>
      <div class="list cna-container">
        <h3>中央社</h3>
        <div class="cards">
        </div>
      </div>
      <div class="list ettoday-container">
        <h3>東森新聞雲</h3>
        <div class="cards">
        </div>
      </div>
    </div>
  </div>
  <div id="provocative">
    <h3>情緒性字眼</h3>
    <div class="chart"></div>
    <div class="card-container show">
      <div class="list apple-container">
        <h3>蘋果日報</h3>
        <div class="cards">
        </div>
      </div>
      <div class="list udn-container">
        <h3>聯合報</h3>
        <div class="cards">
        </div>
      </div>
      <div class="list liberty-container">
        <h3>自由時報</h3>
        <div class="cards">
        </div>
      </div>
      <div class="list cna-container">
        <h3>中央社</h3>
        <div class="cards">
        </div>
      </div>
      <div class="list ettoday-container">
        <h3>東森新聞雲</h3>
        <div class="cards">
        </div>
      </div>
    </div>
  </div>
</div>
