<!DOCTYPE html>

<html>
<head>
  {{> head}}

  <title>To be determined</title>
  <link rel="stylesheet" href = "./dist/css/index.css">

</head>

<body>

	<div class="container">
	  <div class="nav-container">
	  <div class="nav-logo"><a  href="#">OURNAME</a></div>
	  <div class="nav-time"><span>2016</span><span>DEC</span><span>26</span></div>
	    <div class="nav">
	      <ul>
	        <li class="nav-primary" ><a href="#" id="button1">Title 1</a></li>
	        <li class="nav-secondary"><a href="#" id="button2">Title 2</a></li>
	      </ul>

	    </div>
	    <div class="nav-about"><a  href="#">ABOUT</a></div>
	  </div>
	  <div class="page-container" id="page-1">
	    <div class="menu">
	      <div class="menu-hamburger">
	      </div>
	    </div>
	    <section class="band">
	      <div class="band-container top-band">
	        <div class="band-inner"><h1 id="num-news">9487</h1><h2 id="num-scale">篇新聞</h2>
	          {{> news_bar}}
	        </div>
	      </div>
	    </section>
	    <section class="band">
	      <div class="band-container">
	        <div class="band-inner">
	          <h1>Title</h1><h2>各媒體新聞文字雲，並以位置表達各個媒體的常用詞</h2>
	          <!-- {{> cloud}} -->
	        </div>
	      </div>
	    </section>
	    <section class="band">
	      <div class="band-container">
	        <div class="band-inner">
	          <h1>Title2</h1><h2>單一詞彙的時間軸</h2>
	        </div>
	      </div>
	    </section>
	    <section class="band">
	      <div class="band-container">
	        <div class="band-inner">
	          <h1>Title3</h1><h2>單一詞彙的出現新聞</h2>
	        </div>
	      </div>
	    </section>
	    <section class="band">
	      <div class="band-container">
	        <div class="band-inner">
	          <h1>Title3</h1><h2>討論與分享</h2>
	        </div>
	      </div>
	    </section>
	  </div>
	  <div class="page-container" id="page-2">
	  <div class="menu">
	      <div class="menu-hamburger">
	      </div>
	    </div>
	    <section class="band">
	      <div class="band-container top-band">
	        <div class="band-inner">
	          <h1></h1><h2></h2>
	        </div>
	      </div>
	    </section>
	  	<section class="band">
	      <div class="band-container">
	        <div class="band-inner">
	          <h1>Title</h1>
	          <h2>資料基數</h2>
	        </div>
	      </div>
	    </section>
	    <section class="band">
	      <div class="band-container">
	        <div class="band-inner">
	          <h1>Title</h1>
	          <h2>標題特徵分析:挑撥性標題、鄉民說、網傳、未經證實</h2>
	        </div>
	      </div>
	    </section>
	    <section class="band">
	      <div class="band-container">
	        <div class="band-inner">
	          <h1>Title</h1>
	          <h2>關鍵字時間軸:比對各家 TF-IDF tag的報導時間 --> 導至新聞列表連結</h2>
	        </div>
	      </div>
	    </section>
	    <section class="band">
	      <div class="band-container">
	        <div class="band-inner">
	          <h1>Title</h1>
	          <h2>討論與分享</h2>
	        </div>
	      </div>
	    </section>
	  </div>
	</div>

</body>

<script type="text/javascript" src = "./dist/js/cloud.js"></script>
<script type="text/javascript" src = "./dist/js/news_bar.js"></script>
<script type="text/javascript" src = "./dist/js/index.js"></script>
</html>